body {
    margin: 0;
    background-image: url(imagens/pexels-marketingtuig-87223.jpg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: screen;
    height: 100vh;
}

.cabeçudo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    background-color: #0088fff8;
    color: #fffffff8;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 2px 15px hsla(0, 0%, 7%, 0.973);
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
}

.nome {
    font-family: 'Montserrat black';
    font-size: 50px;
}

.comecin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    margin-top: 120px;
    font-family: 'Montserrat black';
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 20px rgba(0,0,0,0.5);
    background-color:  #0088fff8;
}

h1{
    margin-top: 50px;
    font-family: 'Montserrat black';
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 20px rgba(0,0,0,0.5);
    background-color:  #0088fff8;
}

p{
    margin-top: 50px;
    width: 50%;
    margin-right: 100px;
    font-family: 'Montserrat medium';
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 20px rgba(0,0,0,100);

}

b{
    font-size: 40px;
    color: #0088fff8;
    background-color: rgb(255, 255, 255);

    
}
.esquerdinha{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boxxx { 
    margin-top: 50px;
    margin-right: 50px;
    border: 2px solid black;
    width: 400px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    background-image:url(imagens/pexels-pixabay-275484.jpg);

    
}

.boxx { 
    margin-top: 50px;
    margin-right: 50px;
    border: 2px solid black;
    width: 400px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    background-image:url(imagens/pexels-jvdm-1454805.jpg);

    
}

.box { 
    margin-top: 50px;
    margin-right: 50px;
    border: 2px solid black;
    width: 400px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    background-image:url(imagens/pexels-jovydas-2462015.jpg);

    
}

button{
    background: rgb(255, 255, 255);
    height: 70px;
    line-height: 40px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Montserrat black';
    
}

@keyframes pulse {
    0% { transform: scale(1);}
    50% { transform: scale(0.55);}
    100% { transform: scale(1);}
    
}

.pulse {
    animation: pulse 0.3s ease-in-out;
}